table {
    width: auto;
    /* Override fit-content which breaks Styler user guide ipynb */
}

.intro-card .card-img-top {
    margin-top: 10px;
    height: 52px;
    background: none !important;
}

.image-pyrtlib {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center !important;
}

/* .bd-header .navbar-header-items__start {
    flex-shrink: 0;
    gap: .5rem;
    margin-right: 200px;
} */

.sd-card-img, .sd-card-img-top {
    height: 100px;
    margin-top: 5px;
}

@media(max-width: 960px) {
    .bd-header .navbar-header-items__start {
        margin-right: auto;
    }
}