table {
    width: auto;
    /* Override fit-content which breaks Styler user guide ipynb */
}

.intro-card .card-img-top {
    margin-top: 10px;
    height: 52px;
    background: none !important;
}

.image-pyrtlib {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center !important;
}